.idea/**
out/**
KanbanBo.iml
gradle/**
.gradle/**
build/**
gradlew.bat
gradlew
demos/*
src/main/java/Notes.txt
design/**
**/materialiconsoutlined/**
**/materialiconsround/**
**/materialiconssharp/**
**/materialiconstwotone/**
**/drawable/**
**/drawable-hdpi/**
**/drawable-xhdpi/**
**/drawable-xxhdpi/**
**/drawable-xxxhdpi/**
**_12.png
**_14.png
**_16.png
**_20.png
**_24.png
**_36.png
**_48.png