.recent-item {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: black;
}

.recent-item-highlight {
    -fx-background-color: #99CCFF;
}

.recent-item-missing-highlight {
    -fx-background-color: #F5C869;
}

.recent-item-missing .label{
    -fx-text-fill: #383838;
}
.recent-item-missing {
    -fx-background-color: #C9C9C9;
}