* {
    -primary-colour: #5CD6C8;
    -primary-colour-dark: #29A395;
    -primary-colour-light: #ADEBE3;
    -secondary-colour: #8B5CD6;
    -secondary-colour-dark: #5829A3;
    -secondary-colour-light: #C5ADEB;
    -ternary-colour: #D65C6A;
    -ternary-colour-dark: #A32937;
    -ternary-colour-light: #EBADB5;
    -quarternary-colour: #A7D65C;
    -quarternary-colour-dark: #74A329;
    -quarternary-colour-light: #D3EBAD;
    -body-colour-1: #C2C2C2;
    -body-colour-2: #E0E0E0;
    -body-colour-3: #FFFFFF;
}

.primary-nav-bar {
    -fx-background-color: -primary-colour;
}


.button, .check-box {
    -fx-background-color: -primary-colour-dark;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.button:hover, .button:focused, .check-box:hover, .check-box:focused{
    -fx-border-color: white;
}

.button:armed, .check-box:armed{
    -fx-background-color: -primary-colour-light;
}

.check-box:selected .mark {
    -fx-background-color: black;
}


.button, .check-box{
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}