.anchor-pane {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: black;
}
.recent-item {
    -fx-background-color: -secondary-colour;
}

.recent-item:hover {
    -fx-background-color: -secondary-colour-light;
}


.recent-item-missing:hover {
    -fx-background-color: #F5C869;
}

.recent-item-missing {
    -fx-background-color: #C9C9C9;
}